%p User: #{@user.name}

- if @owner
  %p
    Email: #{@user.email if @user.email}

  %h2 Maps you created

  - if @user.owned_group_maps.empty?
    %h4 You have not created any maps
  - else
    %ul
      - @user.owned_group_maps.each do |group_map|
        %li
          = link_to group_map.name, group_map_path(group_map)
          = link_to 'Edit', edit_group_map_path(group_map) if group_map.owner == current_user
          = link_to 'Delete', group_map, :confirm => 'Are you sure?', :method => :delete if group_map.owner == current_user

  = link_to 'Create new map', new_group_map_path


  %h2 Maps you belong to

  %ul
    - @user.group_maps.each do |group_map|
      %li= link_to group_map.name, group_map_path(group_map)
