%p#notice= notice

%p
  %b Name:
  = @group_map.name
%p
  %b Description:
  = @group_map.description
%p
  %b Owner:
  = link_to @group_map.owner.name, user_path(@group_map.owner)

= link_to 'Edit', edit_group_map_path(@group_map)
\|
= link_to 'Back', group_maps_path

#map_canvas

- content_for :head do
  %meta{:content => "initial-scale=1.0, user-scalable=no", :name => "viewport"}/

  :css
    html { height: 100% }
    body { height: 100%; margin: 0; padding: 0 }
    #map_canvas { height: 100% }
  %script{:src => "http://maps.googleapis.com/maps/api/js?key=AIzaSyCK9DOLqMbvXzjArxcr5xp4LEGPpga_jm8&sensor=false", :type => "text/javascript"}

  :javascript
    $(function() { initialize(); });
