#group_maps_show
  %ul
    %li
      %strong Name:
      = @group_map.name

    %li
      %strong Description:
      = @group_map.description

    %li
      %strong group members
      %ul
      - @group_map.users.each do |user|
        %li= link_to user.name, user_path(user)

  = link_to 'Edit', edit_group_map_path(@group_map)
  \|
  = link_to "Manage group members", group_map_group_memberships_path(@group_map)
  \|
  = link_to 'Back', group_maps_path

#map_canvas

- content_for :head do
  %meta{:content => "initial-scale=1.0, user-scalable=no", :name => "viewport"}/

  :css
    html { height: 100% }
    body { height: 100%; margin: 0; padding: 0 }
    #map_canvas { height: 100% }

  :javascript
    $(function() {
      window.group_map_id = #{@group_map.id};
      window.current_user_id = #{current_user.id};
      window.initialize();
    });
