!!!
%html
  %head
    %title Dayz GPS
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

    %script{:src => "http://maps.googleapis.com/maps/api/js?key=AIzaSyCK9DOLqMbvXzjArxcr5xp4LEGPpga_jm8&sensor=false", :type => "text/javascript"}
    %script{:src => "http://localhost:8080/socket.io/socket.io.js"}
    %script{:src => "http://localhost:8080/socket.io/backbone.io.js"}

    :javascript
      window.Backbone.io.connect('http://localhost:8080');

    =# javascript_include_tag "test_backbone"
    = javascript_include_tag "backbone_app"

    = yield :head

    :plain
      <script id="info-window-template" type="text/template">
        <h3><%= type %>:</h3>
        <h1><%= label %></h1>
        <p><%= description %></p>
        <form id="info-window-delete-<%= marker_cid %>" class="info-window">
          <button type="submit" class="delete-marker">remove</button>
        </form>
      </script>
      <script id="message-template" type="text/template">
        <%= text %>
        <a class="delete" href="#">[x]</a>
      </script>
      <script id="messages-template" type="text/template">
        <input class="message" type="text">
        <input class="send" type="submit" value="Send">
        <ul></ul>
      </script>

  %body
    #nav
      - if notice || alert
        %p#notice= notice
        %p#alert= alert
      %ul
        - if current_user
          %li= link_to 'My Maps', user_path(current_user)
          %li Logged in as #{current_user.name}
          %li= link_to 'Logout', signout_path
        - else
          %li= link_to 'Login or Register', signin_path

    = yield
  = yield :page_scripts
