!!!
%html
  %head
    %title Dayz GPS
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

    %script{:src => "http://maps.googleapis.com/maps/api/js?key=AIzaSyCK9DOLqMbvXzjArxcr5xp4LEGPpga_jm8&sensor=false", :type => "text/javascript"}
    %script{:src => "http://localhost:8080/socket.io/socket.io.js"}
    %script{:src => "http://localhost:8080/socket.io/backbone.io.js"}

    :javascript
      window.Backbone.io.connect('http://localhost:8080');

    =# javascript_include_tag "test_backbone"
    = javascript_include_tag "backbone_app"

    = yield :head

    :plain
      <script id="info-window-template" type="text/template">
        <form id="info-window-<%= marker_cid %>" class="info-window">
          <h3>Label:</h3>
          <input class="marker-label" type="text" name="label" value="<%= label %>" />

          <h3>Type:</h3>
          <select class="marker-type">
            <option value="">select</option>
            <option value="player">Player</option>
            <option value="enemy_player">Enemy Player</option>
            <option value="squad">Squad</option>
            <option value="vehicle">Vehicle</option>
            <option value="camp">Camp Site</option>
            <option value="waypoint">Waypoint</option>
            <option value="objective">Objective</option>
            <option value="sniper">Sniper</option>
            <option value="enemy_sniper">Enemy Sniper</option>
          </select>

          <h3>Description:</h3>
          <textarea class="marker-description" name="description"><%= description %></textarea>
          <p>
            <button type="submit" class="save-marker">save</button>
            <button type="submit" class="delete-marker">delete</button>
          </p>
        </form>
      </script>
      <script id="message-template" type="text/template">
        <%= text %>
        <a class="delete" href="#">[x]</a>
      </script>
      <script id="messages-template" type="text/template">
        <input class="message" type="text">
        <input class="send" type="submit" value="Send">
        <ul></ul>
      </script>

  %body
    #nav
      - if notice || alert
        %p#notice= notice
        %p#alert= alert
      %ul
        - if current_user
          %li= link_to 'My Maps', user_path(current_user)
          %li Logged in as #{current_user.name}
          %li= link_to 'Logout', signout_path
        - else
          %li= link_to 'Login or Register', signin_path

    = yield
  = yield :page_scripts
